<h1> New PTS Issue </h1>

<!--Topic--> 
    <p> 
        <%= form.label :topic %><br>
        <%= form.text_field :topic %>
    </p>

    <p>
        <%= form.submit %>
        <%= hidden_field_tag "issue[user_id]",  @issue.user_id %>
    </p>

<% end %>