<h1> Welcome to Fix'D Web App! </h1>
<p>Fix'D is a Platform that allows Duke Community Members to 
report issues of any kind thorugh their mobile app. Fix'D will 
then contact the corresponding department to get your issue 
solved!<p>